name: Flutter Module CI/CD

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]
  workflow_dispatch:

jobs:
  build_android:
    name: Build Android AAR
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.6'
          
      - name: Install dependencies
        run: flutter pub get
        
      - name: Build Android AAR
        run: flutter build aar --release
        
      - name: Upload Android artifacts
        uses: actions/upload-artifact@v4
        with:
          name: android-aar
          path: build/host/outputs/repo/

  build_ios:
    name: Build iOS Framework
    runs-on: macos-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.6'
          
      - name: Install dependencies
        run: flutter pub get
        
      - name: Build iOS Framework
        run: flutter build ios-framework --release
        
      - name: Upload iOS artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ios-framework
          path: build/ios/framework/
